<div class="footer">
	<div class="wrap">
		<div class="clearfix top-indent1">
			<div class="grid_12">
				<div class="box">
					<div class="box-inner">
						<ul class="registry-numbers">
							<li>REGON: 122917400</li>
							<li>NIP: 993-06-52-894</li>
							<li>Nr konta: PL 40 2030 0045 1110 0000 0400 0150</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--div class="footer-bottom">
		<div class="wrap">
			<div class="copy">
				<p>All rights Reserved | Design by <a href="http://w3layouts.com">W3Layouts</a></p>
			</div>
		</div>
	</div-->
</div>