<div id="about">
	<div class="content">
		<div class="wrap">
			<div class="about">
				<div class="about-top">
					<div class="col">
						<h3>Historia</h3>
						<div class="about-img">
							<img src="img/pic5.jpg" alt=""/>
						</div>
						<div class="about-desc">
							<p>Klub RELAX w Woli Rzędzińskiej rozpoczął działalność jako stowarzyszenie 1 września 2013roku. Jednakże jego nieformalna działalność datuje się od roku 2010, kiedy to obecna Prezes klubu Ewa Buczyńska „skrzyknęła” grupę osób do wspólnego aktywnego spędzania czasu.</p> 

							<p>Początkowo była to około 12 osobowa grupa, która zaczęła się spotykać na zajęciach aerobiku. Zajęcia te odbywały się na sali gimnastycznej w ówczesnym Gimnazjum nr 1 w Woli Rzędzińskiej. Już wtedy nawiązała się nić współpracy z dyrekcją szkoły. Zajęcia były prowadzone w sposób profesjonalny przez zaprzyjaźnioną panią Teresę Kuczek, która do dzisiejszego dnia aktywnie współpracuje z Klubem.</p> 

							<p>W związku z tym, że grupa osób, które chciały korzystać z aktywnego wypoczynku niekoniecznie w takt muzyki zwiększała się, postanowiono, że oprócz spotkań aerobowych spróbują swoich sił w grze zespołowej jaką jest siatkówka. Okazało się to dobrym wyborem, gdyż sekcja siatkówki przetrwała do dnia dzisiejszego. </p> 

							<p>Kiedy to w maju 2011 roku oficjalnie otwarto basen rehabilitacyjny przy w/w szkole powstał pomysł zmiany zajęć aerobiku  na sali na zajęcia w aerobiku w basenie. Początkowo była to jedna grupa licząca 10 osób, jednakże z czasem wzrosło zainteresowanie tego typu zajęciami i ze względów organizacyjnych  utworzono 3 grupy, których spotkania odbywały się raz w tygodniu.</p>  

							<p>Kolejnym pomysłem na spędzanie wolnego czasu było grillowanie oraz wspólne wyjazdy na kręgle. Już wtedy do świadomości wielu osób dotarło, że wiek nie jest przeszkodą by podejmować nowe wyzwania i zmieniać jakość swojego życia.</p> 

							<p>Częste spotkania i chęć rywalizacji oraz wspólne zainteresowania zdopingowały grupę, na czele z obecną Panią Prezes Ewą Buczyńską do założenia Klubu w 2013 roku. Oficjalnie Klub rozpoczął swoją działalność 1 września 2013 roku pod nazwą <b>Klub Sportowy RELAX w Woli Rzędzińskiej</b>.</p> 

							<p>Na początku swej działalności klub liczył 26 członków, dziś po półtorarocznej działalności liczba ta wzrasta, świadczyć to może tylko o jednym -  że istnieje duże zapotrzebowanie na tego typu działalność.</p>  

							<p>Realizując zadanie publiczne Urzędu Gminy Tarnów w 2013 roku Klub zakupił i przekazał w ręce dyrekcji Zespołu Szkół sprzęt sportowy dla dzieci i młodzieży.</p>  

							<p>Kolejnym przejawem aktywności stowarzyszenia był zakup nagrody turniejowej w odbywającej się w Woli Rzędzińskiej Parafiadzie.</p>  

							<p>Dzieciom i młodzieży z Zespołu Szkół Publicznych w Woli Rzędzińskiej zostały dedykowane nagrody za osiągnięcia sportowe w sezonie 2013/2014, ufundowane przez Klub Sportowy RELAX w Woli Rzędzińskiej.</p> 

							<p>W czasie trwania festynu miodobrania w Woli Rzędzińskiej stowarzyszenie organizowało pierwszy turniej puszczania latawców pod tytułem: <b>LATAWCE Z RELAXEM</b>, gdzie Klub fundował główną nagrodę oraz nagrody pocieszenia dla jego uczestników.</p> 

							<p>W jesieni 2014 roku został zrealizowany kolejny projekt inspirowany przez zarząd Klubu, prezes Ewę Buczyńską oraz członków zarządu: Panią Lucynę Wiatr i Panią Magdalenę Bryg. W ramach projektu został zorganizowany pierwszy kurs nauki pływania dla osób dorosłych. Przyczyniło się to do wzrostu liczby sympatyków Klubu.</p> 

							<p>Pierwsza dekada roku 2015 obfitowała w realizację nowych wyzwań. Jednym w nich było zorganizowanie przez stowarzyszenie wyjazdu do Solca – Zdroju.</p>  

							<p>Warto również zaznaczyć, że klub w swoich celach statutowych  dużą wagę przykłada do rozwoju więzi międzypokoleniowych oraz działań na rzecz rozwijania kontaktów i współpracy między społecznościami.</p> 
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="about-bot">
					<div class="col" style="width:100%">
						<h3>Zarząd</h3>
						<div class="management-desc">
							<div class="management-col">
								<div class="desc first">Prezes</div>
								<div class="desc">Ewa Buczyńska</div>
								<div class="clear" ></div>
							</div>
							<div class="management-col">
								<div class="desc first">Członkowie Zarządu</div>
								<div class="desc">Wiatr Lucyna</div>
								<div class="desc">Bryg Magdalena</div>
								<div class="clear"></div>
							</div>
							<div class="management-col">
								<div class="desc first">Komisja Rewizyjna</div>
								<div class="desc">Kuta Jadwiga</div>
								<div class="desc">Kiełbasa Elżbieta</div>
								<div class="desc">Pająk Elżbieta</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="about-bot">
					<div class="col" style="width:100%">
						<h3>Do pobrania</h3>
						<div class="downloads">
							<div class="link">
								<a target="_self" href="js/KlubRelaxStatut.pdf" download="KlubRelaxStatut.pdf">			
									<div class="pdf">
									  &nbsp;
									</div>
									Statut 
								</a>
                          	</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>