<div id="home">
	<div class="banner">
		<div class="banner-wrap">
			<div class="banner-img">
				<img src="img/bckgnd.png" alt=""/>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="wrap">
			<div class="con-top">
				<div class="top-grid">
					<h2 class="first-row motto">Twoje życie nie poprawi się przez przypadek, poprawi się jeśli faktycznie       zaczniesz je zmieniać. <br/> Dziś zrób dla siebie coś za co podziękujesz w przyszłości.</h2>
					<h2 class="second-row motto">PRZYJDŹ I DOŁĄCZ DO NAS</h2>
				</div>
				<div class="content-box">
					<div class="col span_1_of_4">

						<h3>Rekreacja</h3>
						<div class="grid-img">
							<img src="img/kolka/rekreacja_duze.gif" alt=""/>
						</div>
						<div class="grid-text">
							<p>Osoby lubiące aktywny wypoczynek nie będą rozczarowani. Rekreacja przyczynia się do rozwoju zainteresowań i osobowości oraz podwyższenia aktywności fizycznej. To lekarstwo na stres i choroby cywilizacyjne.</p>
						</div>
						<span class="link1" ng-click="openEvents(0)">Więcej</span>
						<div class="clear"></div>
					</div>
					<div class="col span_1_of_4">

						<h3>Turystyka</h3>
						<div class="grid-img">
							<img src="img/kolka/turystyka_duze.png" alt=""/>
						</div>
						<div class="grid-text">
							<p>Turystyka jest zjawiskiem złożonym i wielopłaszczyznowym, które odnosi się do wielu aspektów życia człowieka. Dzięki turystyce człowiek regeneruje siły fizyczne i psychiczne, poznaje świat oraz kształtuje swoją osobowość.</p>
						</div>
						<span href="#" class="link1" ng-click="openEvents(1)">Więcej</span>
						<div class="clear"></div>
					</div>
					<div class="col span_1_of_4">
						<h3>Integracja</h3>
						<div class="grid-img">
							<img src="img/kolka/imprezy_duze.png" alt=""/>
						</div>
						<div class="grid-text">
							<p>Wzajemna motywacja członków Klubu w oparciu o przyjaźń i koleżeństwo staje się sposobem na poczucie przynależności do grupy oraz realizację własnych zainteresowań i pasji.</p>
						</div>
						<span href="#" class="link1" ng-click="openEvents(2)">Więcej</span>
						<div class="clear"></div>
					</div>
					<div class="col span_1_of_4">
						<h3>Rodzina i sport</h3>
						<div class="grid-img">
							<img src="img/kolka/dzieci_duze.png" alt=""/>
						</div>
						<div class="grid-text">
							<p>Wspólne rodzinne uprawianie turystyki, rekreacji i sportu oprócz troski o zdrowie i kondycję fizyczną, ściśle wiąże się z budowaniem i wzmacnianiem więzi w rodzinie oraz pogłębianiem wzajemnych relacji pomiędzy rodzicami a dziećmi.</p>
						</div>
						<span href="#" class="link1" ng-click="openEvents(3)">Więcej</span>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>
